body{
    background-color:	#A9A9A9;
  text-align: center;
}
.bg-red {
    background-color:aquamarine;
    margin-left: 50px;
    
  }
  #addbtn{
    width: 10rem;
    height: 2rem;
    text-align: center;
    background-color: aqua;
  }
  #inputfield{
    width: 15rem;
    height: 2rem;
    text-align: center;
  }
  ul{
    list-style-type: none;
  }


  